[user]
	name = Emanuele Mazzotta
	email = mazzotta.emanuele@gmail.com
	signingkey = 73EB5C8CAC4297A8
[push]
	default = simple
[pull]
	rebase = true
[branch "master"]
	rebase = true
[remote "origin"]
	prune = true
[alias]
	graphlog = log --graph --full-history --all --color --pretty=format:'%x1b[33m%h%x09%C(blue)(%ar)%C(reset)%x09%x1b[32m%d%x1b[0m%x20%s%x20%C(dim white)-%x20%an%C(reset)'
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
[core]
	filemode = true
	editor = /usr/local/bin/vim
	excludesfile = /Users/emanuelemazzotta/.global_gitignore
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
	precomposeunicode = true
	quotepath = true
[color]
	ui = true
[commit]
	gpgsign = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
