[user]
	name = Emanuele Mazzotta
	email = mazzotta.emanuele@gmail.com
	signingkey = 73EB5C8CAC4297A8
[push]
	default = simple
[pull]
	rebase = true
[branch "main"]
	rebase = true
[branch "master"]
	rebase = true
[remote "origin"]
	prune = true
[alias]
	graphlog = log --graph --full-history --all --color --pretty=format:'%x1b[33m%h%x09%C(blue)(%ar)%C(reset)%x09%x1b[32m%d%x1b[0m%x20%s%x20%C(dim white)-%x20%an%C(reset)'
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
    cp = cherry-pick
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"
[core]
	filemode = true
	excludesfile = /Users/emanuelemazzotta/.global_gitignore
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
	precomposeunicode = true
	quotepath = true
    sshCommand = ssh -i /Users/emanuelemazzotta/.ssh/id_rsa -o IdentitiesOnly=yes -F /dev/null
    ;sshCommand = ssh -i /Users/emanuelemazzotta/.ssh/id_ed25519_nerds -o IdentitiesOnly=yes -F /dev/null
[color]
	ui = true
[commit]
	gpgsign = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse

[filesystem "AdoptOpenJDK|11.0.7|/dev/disk1s1"]
	timestampResolution = 9000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|12.0.2|/dev/disk1s5"]
	timestampResolution = 7000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|13.0.2|/dev/disk1s1"]
	timestampResolution = 8000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "AdoptOpenJDK|11.0.8|/dev/disk1s1"]
	timestampResolution = 6000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
