**/.claude/**
**/.claude.json
**/.gnupg/**
**/.m2/**
**/.ssh/**
**/karabiner/**
*.dat
*.db
*.tar.gz
.DS_Store
.env*
.idea
__pycache__
cache
email
node_modules
*.enc

Cache-Management.ps1

workspace/
dotfiles/
vim/.vim_runtime/my_plugins/

!**/.gnupg/gpg-agent.conf
!**/.gnupg/gpg.conf
!**/.m2/settings.template.xml
!**/.ssh/config
!**/ccline/config.toml
!**/ccline/models.toml
!**/ccline/themes
!**/.claude/settings.json
!**/.claude/hooks/**
!**/karabiner/karabiner.json
