**/.gnupg/**
**/.m2/**
**/.ssh/**
**/ccline/**
**/karabiner/**
*.dat
*.db
*.tar.gz
.DS_Store
.env
.idea
__pycache__
cache
email
keys
node_modules

Cache-Management.ps1

workspace/
dotfiles/

!**/.gnupg/gpg-agent.conf
!**/.gnupg/gpg.conf
!**/.m2/settings.template.xml
!**/.ssh/config
!**/ccline/config.toml
!**/ccline/models.toml
!**/ccline/themes
!**/karabiner/karabiner.json
