**/.gnupg/**
**/.m2/**
**/.ssh/**
**/karabiner/**
*.dat
*.db
*.tar.gz
.DS_Store
.env
.idea
cache
email
keys
node_modules

!**/.gnupg/gpg-agent.conf
!**/.gnupg/gpg.conf
!**/.m2/settings.template.xml
!**/.ssh/config
!**/karabiner/karabiner.json

