BASH_ENV=/Users/emanuelemazzotta/.bashrc
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/bin/bash

0 20 * * * bash -lci "source ${GLOBAL_ENV_FILE} && ${DOTFILESPATH}/bin/payables_message" 
0 20 * * * bash -lci "source ${GLOBAL_ENV_FILE} && ${DOTFILESPATH}/bin/tmbackup" > /dev/null
