BASH_ENV=/Users/emanuelemazzotta/.bashrc
PATH=/opt/homebrew/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/bin/bash

*/15 * * * * /Users/emanuelemazzotta/dotfiles/bin/claude-sync
